**1. Write a Python program to print the following string in a specific format.**

Sample String : "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are"

In [1]:
print("Twinkle, twinkle, little star,\n\t How I wonder what you are! \n\t\t Up above the world so high,\n\t\t Like a diamond in the sky. \n Twinkle, twinkle, little star, \n\t How I wonder what you are")

Twinkle, twinkle, little star,
	 How I wonder what you are!
		 Up above the world so high,
		 Like a diamond in the sky.
 Twinkle, twinkle, little star,
	 How I wonder what you are

**2. Write a Python program to find out what version of Python you are using.**

In [2]:
import sys
print("Python Version")
print(sys.version)

Python Version
3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]

**3. Write a Python program to display the current date and time.**

In [3]:
import datetime
now = datetime.datetime.now()
print("current date and time:")
print(now.strftime("%Y-%m-%d %H:%M:%S"))

current date and time:
2023-07-21 00:15:30

**4. Write a Python program that calculates the area of a circle based on the radius entered by the user.**

In [4]:
from math import pi
radius = float(input("Enter the radius of a circle"))
print ("The area of the circle with radius " + str(radius) + " is : " + str(pi * radius**2))

Enter the radius of a circle21
The area of the circle with radius 21.0 is : 1385.4423602330987

**5. Write a Python program that accepts the user's first and last name and prints them in reverse order with a space between them.**

In [5]:
fname = input("Enter the first name: ")
lname = input("Enter the last name: ")
mname = input("Enter the middle name: ")
print("Hello " + lname + " " + fname + " " + mname)

Enter the first name: sameer
Enter the last name: mishra
Enter the middle name: shambhunath
Hello mishra sameer shambhunath

**6. Write a Python program that accepts a sequence of comma-separated numbers from the user and generates a list and a tuple of those numbers.**

Sample data: 3, 5, 7, 23

In [6]:
values = input("Input some comma-separated numbers: ")
list_of_numbers = values.split(",")
tuple_of_numbers = tuple(list_of_numbers)
print('List:', list_of_numbers)
print('Tuple:', tuple_of_numbers)

Input some comma-separated numbers: 2,3,4
List: ['2', '3', '4']
Tuple: ('2', '3', '4')

**7. Write a Python program that accepts a filename from the user and prints the extension of the file.**

In [7]:
filename = input("Input the Filename: ")
f_extns = filename.split(".")
print ("The extension of the file is : " + repr(f_extns[-1]))

Input the Filename: sam.com
The extension of the file is : 'com'

**8. Write a Python program to display the first and last colors from the following list.**

In [10]:
#index_po--0-------1--------2---------3--------4---

color = ["Red", "Green", "Yellow", "Orange", "Blue"]
print("%s %s"%(color[4], color[2]))

Blue Yellow

**9. Write a Python program to display the examination schedule. (extract the date from exam_st_date).**

exam_st_date = (11, 12, 2014)

In [15]:
exam_dt = (11,12,2014)
print("the Examination will be start from : %i / %i / %i"% exam_dt)

the Examination will be start from : 11 / 12 / 2014

**10. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.**

Sample value of n is 5

In [24]:
a = int(input("Enter an integer : "))
n1 = int( "%s" % a)
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print(n1+n2+n3)

Enter an integer : 10
102030

**12. Write a Python program that prints the calendar for a given month and year.**

In [28]:
import calendar
Y = int(input("Enter the year : "))
M = int(input("Enter the Month : "))
print(calendar.month(Y, M))

Enter the year : 2023
Enter the Month : 12
   December 2023
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

**13. Write a Python program to print the following 'here document'.**

In [2]:
print("""a string that you that you dont have to escape
This
is a .......... multi-line 
heredoc string --------> Example
""")

a string that you that you dont have to escape
This
is a .......... multi-line
heredoc string --------> Example

**14. Write a Python program to calculate the number of days between two dates.**

In [6]:
from datetime import date
fdate = date(2001, 12, 10)
ldate = date(2023, 7, 25)
delta = ldate - fdate
print(delta.days)

7897

**15. Write a Python program to get the volume of a sphere with radius six.**

In [12]:
pi = 3.141
r = 6.0
V = 4.0/3.0*pi* r**3
print("The volume of the sphere is :", V)

The volume of the sphere is : 904.608

**16. Write a Python program to calculate the difference between a given number and 17. If the number is greater 
than 17, return twice the absolute difference.**

In [16]:
def difference(n):
    if n <= 17:
        return 17 - n
    else:
        return (n - 17) * 2
    
print(difference(22))
print(difference(14))

10
3

**17. Write a Python program to test whether a number is within 100 of 1000 or 2000.**

In [26]:
def near_thousand(n):
      return ((abs(1000 - n) <= 100) or (abs(2000 - n) <= 100))
print(near_thousand(1000))
print(near_thousand(900))
print(near_thousand(800))
print(near_thousand(500))

True
True
False
False

**18. Write a Python program to calculate the sum of three given numbers. If the values are equal, return three times their sum.**

In [29]:
def sum_thrice(x, y, z):
    
    sum = (x + y + z)
    
    if x == y == z:
     sum = sum*3
    return sum

print(sum_thrice(1,2,3))
print(sum_thrice(3,3,3)) # this value is equal to each other that's why its give 27 in output.

6
27

**19. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.**

In [13]:
list = []
for i in range (2000, 3200):
    if i%7==0 and i%5 !=0:
#        print(i)
        list.append(str(i))
    
print(','.join(list))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

**20. Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line. Suppose the following input is supplied to the program: 8 Then, the output should be: 40320**

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [16]:
def fact(x):
    if x == 0:
        return 1
    else:
        return x*fact(x-1)
    
fact(6)

720

**21. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}**

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider use dict()

In [11]:
# Solution 1

n = int(input())
d = dict()

for i in range(1, n+1):
    d[i]=i*i
    
print(d)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [10]:
# Solution 2

n = int(input())
d = {x:x*x for x in range (1, n+1)}

print(d)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

**22. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program: 34,67,55,33,12,98 Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')**

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. tuple() method can convert list to tuple.

In [19]:
values = input()
l = values.split(",")
t = tuple(l)
print(f"List of value :{l}")
print(f"tuple of value :{t}")

34,67,55,33,12,98
List of value :['34', '67', '55', '33', '12', '98']
tuple of value :('34', '67', '55', '33', '12', '98')

**23. Define a class which has at least two methods: getString: to get a string from console input printString: to print the string in upper case. Also please include simple test function to test the class methods.**

Hints: Use init method to construct some parameters

In [31]:
class InputOutString:
    def __init__(self):
        self.s = ""

    def getString(self):
        self.s = input()

    def printString(self):
        print(self.s.upper())
        
a = InputOutString()
a.getString()
a.printString()

abcdef
ABCDEF

**24. Write a program that calculates and prints the value according to the given formula: Q = Square root of [(2 * C * D)/H] Following are the fixed values of C and H: C is 50. H is 30. D is the variable whose values should be input to your program in a comma-separated sequence. Example Let us assume the following comma separated input sequence is given to the program: 100,150,180 The output of the program should be: 18,22,24**

Hints: If the output received is in decimal form, it should be rounded off to its nearest value (for example, if the output received is 26.0, it should be printed as 26) In case of input data being supplied to the question, it should be assumed to be a console input.

In [40]:
import math

c = 50
h = 30
value = []
items = [x for x in input("Input numbers comma separated : ").split(',')]

for d in items:
    value.append(str(int(round(math.sqrt(2*c*float(d)/h)))))
    
print(','.join(value))

Input numbers comma separated : 100,150,180
18,22,24

**25. Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. Note: i=0,1.., X-1; j=0,1,¡­Y-1. Example Suppose the following inputs are given to the program: 3,5 Then, the output of the program should be: [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]**

Hints: Note: In case of input data being supplied to the question, it should be assumed to be a console input in a comma-separated form.

In [51]:
input_str = input()
dimensions = [int(x) for x in input_str.split(',')]

row = dimensions[0]
column = dimensions[1]

multilist = [[0 for col in range (column)] for row in range (row)]

for row in range(row):
    for col in range (column):
        multilist[row][col] = row*column
        
print(multilist)   # 3,4 = 3 list for 4 numbers.

3,4
[[0, 0, 0, 0], [4, 4, 4, 4], [8, 8, 8, 8]]

### --------------------------------------------------------->> Please prefer Next File ---------------------------------------------------------------------