# Python Practice Question

### 1. Count all letters, digits, and special symbols from a given string
str1 = "I@#ma26rt^&ic5us"

In [14]:
def count_characters(str1):
    letter_count = 0
    digit_count = 0
    special_count = 0

    for char in str1:
        if char.isalpha():
            letter_count += 1
        elif char.isdigit():
            digit_count += 1
        else:
            special_count += 1

    return letter_count, digit_count, special_count

str1 = "I@#ma26rt^&ic5us"
letter_count, digit_count, special_count = count_characters(str1)

print("Letter count:", letter_count)
print("Digit count:", digit_count)
print("Special symbol count:", special_count)

Letter count: 9
Digit count: 3
Special symbol count: 4

### --------------------------------------------------------------------------------------------------------------------------------------------------------------

### 2. Write a Python program to find numbers divisible by nineteen or thirteen from a list of numbers using Lambda.
a=[19, 65, 57, 39, 152, 639, 121, 44, 90, 190]

In [15]:
a = [19, 65, 57, 39, 152, 639, 121, 44, 90, 190]

divisible_number = list(filter(lambda x: x % 19 == 0 or x % 13 == 0, a))

print("Numbers divisible by nineteen or thirteen:", divisible_number)

Numbers divisible by nineteen or thirteen: [19, 65, 57, 39, 152, 190]

### --------------------------------------------------------------------------------------------------------------------------------------------------------------

### 3. Find all of the words in a string that are less than 5 letters.
string = "Practice Problems to Drill List Comprehension in Your Head."

In [16]:
string = "Practice Problems to Drill List Comprehension in Your Head."

words_less_than_5 = [word for word in string.split() if len(word) <5]

print("Words less than 5 letters:", words_less_than_5)

Words less than 5 letters: ['to', 'List', 'in', 'Your']

### --------------------------------------------------------------------------------------------------------------------------------------------------------------

### 4. Calculate income tax for the given income by adhering to the below rules:

In [17]:
def calculate_income_tax(income):
    if income <= 10000:
        tax = 0
    elif income <= 20000:
        tax = (income - 10000) * 0.10
    else:
        tax = 10000 * 0.10 + (income - 20000) * 0.20
    return tax

income = 45000
tax_payable = calculate_income_tax(income)

print("Income tax payable:", tax_payable)

Income tax payable: 6000.0

### --------------------------------------------------------------------------------------------------------------------------------------------------------------

### 5. Given below are the list of positive and negative words. Also,a list of tweets is provided. Separate out the positive and negative comments.

In [18]:
positive = ['good', 'awesome', 'best', 'nice']
negative = ['worst', 'awful', 'bad']
tweets = [
    'This government policies are good',
    'bad implementation',
    'The way he played showed that he is one of the best players in the world',
    'Her acting in the play was awesome',
    'The wine tastes awful',
    "It's nice to hear this little kid's laugh"
]

positive_comments = []
negative_comments = []

for tweet in tweets:
    words = tweet.split()
    if any(word in positive for word in words):
        positive_comments.append(tweet)
    elif any(word in negative for word in words):
        negative_comments.append(tweet)

print("Positive comments:")
for comment in positive_comments:
    print(comment)

print("\nNegative comments:")
for comment in negative_comments:
    print(comment)

Positive comments:
This government policies are good
The way he played showed that he is one of the best players in the world
Her acting in the play was awesome
It's nice to hear this little kid's laugh

Negative comments:
bad implementation
The wine tastes awful

### --------------------------------------------------------------------------------------------------------------------------------------------------------------

### 6. Extend nested list by adding the sublist.

You have given a nested list. Write a program to extend it by 
adding the sublist ["h", "i", "j"] in such a way that it will look 
like the following list.

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

sub list to add

sub_list = ["h", "i", "j"]

expected output =['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'],'m', 'n']

In [19]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

# Extend the nested list by adding the sublist
list1[2][1][2].extend(sub_list)

# Print the extended nested list
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

### --------------------------------------------------------------------------------------------------------------------------------------------------------------

### 7. Remove and add item in a list.

Write a program to remove the item present at index 4 and 
add it to the 2nd position and at the end of the list.
list1 = [54, 44, 27, 79, 91, 41]

In [20]:
list1 = [54, 44, 27, 79, 91, 41]

# Remove item at index 4
item = list1.pop(4)

# Add item to the 2nd position
list1.insert(2, item)

# Add item to the end of the list
list1.append(item)

print("Modified list:", list1)

Modified list: [54, 44, 91, 27, 79, 41, 91]

### --------------------------------------------------------------------------------------------------------------------------------------------------------------

### 8. Load the iris dataset and Find only those records whose 
sepal_length = 5.1 and sepal_width = 3.5

In [21]:
import seaborn as sns

# Load the iris dataset
iris = sns.load_dataset('iris')

# Filter the dataset based on sepal_length and sepal_width
filtered_data = iris[(iris['sepal_length'] == 5.1) & (iris['sepal_width'] == 3.5)]

# Print the filtered records
print(filtered_data)

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
17           5.1          3.5           1.4          0.3  setosa

### --------------------------------------------------------------------------------------------------------------------------------------------------------------

### 9. Check for Maximum petal_length and convert it in to 7.2 and min petal_length and convert it in to 1.2

In [1]:
import seaborn as sns

iris = sns.load_dataset('iris')  # Loading the iris dataset using seaborn

# Finding the maximum and minimum petal_length
max_petal_length = iris['petal_length'].max()
min_petal_length = iris['petal_length'].min()

# Replacing maximum and minimum petal_length 
iris.loc[iris['petal_length'] == max_petal_length, 'petal_length'] = 7.2
iris.loc[iris['petal_length'] == min_petal_length, 'petal_length'] = 1.2

# modified output
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### --------------------------------------------------------------------------------------------------------------------------------------------------------------

### 10. Perform right join to combine values based on the 'ID' in the two dataframes.

In [10]:
import pandas as pd

# Create the first dataframe
df1 = pd.DataFrame({'ID': [101, 102, 103, 104, 105, 106, 107],
                    'Candidate_Name': ['Alex', 'Amy', 'Allen', 'Alice', 'James', 'Sara', 'Mia'],
                    'Subject': ['History', 'English', 'Geography', 'German', 'History', 'German', 'English']})

# Create the second dataframe
df2 = pd.DataFrame({'ID': [101, 102, 103, 104, 105, 108],
                    'City': ['Delhi', 'Mumbai', 'Delhi', 'Chennai', 'Hyderabad', 'Delhi'],
                    'Subject_Score': [89, 78, 77, 87, 87, 84]})

# Perform the right join
merged_df = pd.merge(df1, df2, on='ID', how='right')

# Display the merged dataframe
print(merged_df)

    ID Candidate_Name    Subject       City  Subject_Score
0  101           Alex    History      Delhi             89
1  102            Amy    English     Mumbai             78
2  103          Allen  Geography      Delhi             77
3  104          Alice     German    Chennai             87
4  105          James    History  Hyderabad             87
5  108            NaN        NaN      Delhi             84